* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  width: 100wv;
  background-color: white;
  justify-content: center;
}

.gamewindow {
  width: 90vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  width: 70%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.answer-form {
  width: 14vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
}

input,
label {
  display: block;
}

.answer-sub {
}

.playercard-container {
  height: 20vh;
  width: 70%;
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  gap: 1vh;
}

.answer-button {
  background-color: beige;
  border: 2px solid black;
  border-radius: 10px;
  height: 40px;
  width: 70px;
  margin-top: 3vh;
}

.contet-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-container {
  height: 25vh;
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 4vw;
  overflow: hidden;
}
img {
  object-fit: cover;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  height: 14vh;
  width: 11vh;
}

.column {
  display: flex;
  flex-direction: column;
}

h3 {
  display: flex;
  justify-content: center;
}

h2 {
}

.cheer {
  height: 5vh;
  width: 10vwh;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  text-align: center;
}

.form-img{
  border-radius: 10px;
  border: 2px solid black;

}

img{
  border: 2px;
}
