* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: bisque;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  width: 100wv;
  background-color: bisque;
  justify-content: center;
}

.gamewindow {
  margin-top: 10vh;
  width: 70vw;
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  background-color: black;
  width: 95%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.answer-form{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

input, label {
  display: block;
}

.answer-sub {

}

.playercard-container {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: beige;
  align-items: center;
}

.answer-button{
  background-color: blue;
  height: 40px;
  width: 70px;
  margin-top: 3vh;
}

.contet-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-container {
  height: 25vh;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4vw;
  overflow: hidden;
}
img {
  object-fit: cover;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  height: 14vh;
  width: 11vh;
}

.column {
  display: flex;
  flex-direction: column;
}

h3 {
  display: flex;
  justify-content: center;
}
